{% extends 'front.html.twig' %}

{% block title %}Accès refusé{% endblock %}

{% block front %}
    <h1>Accès refusé</h1>
    <p>Vous n'avez pas les droits nécessaires pour accéder à cette page.</p>
{% endblock %}
